@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
  --font-playfair: var(--font-playfair), serif;
}

html {
  overflow-x: hidden;
}

body {
  font-family: var(--font-sans);
  background: #fafafa;
  color: #1f1f1f;
}

@utility no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
